
*{
margin=:0;
padding:0;
box-sizing:border-box;
}

.header{
    width:85%;
    height:120px;
    border-radius:20px;
    background:black;
    position:fixed;
    z-index:100;
    margin-left:80px;
    margin-top:10px;
 }




.list{
    display:inline;
   float:right;
 margin-left:80px;
  margin-right:40px;
    }


  .list li   {
 font-weight:bold;
}
  

button {
 border-radius:5px;
  background-color: rgba(232, 215, 215, 0.7);
margin-left:40px;
font-size:30px;
margin-top:30px;
}


button:hover{
    opacity:0.6;
    text-decoration:underline blue 5px;
    cursor:pointer;
    color:blue ;
}


.img1{
margin-left:50px;
cursor: pointer;
    }


  .icon {
font-size:40px;
color:blue;
float:right;
margin-right:90px;
margin-top:150px;
     }
  
  
.background{
background-image:url(../image/Hacker.jpg);
height:100vh;
background-attachment:fixed;
background-repeat:norepeat;
background-size:cover;
width:100%;
position:absolute;
top:0;
left:0;       
right:0;
  }

  body{
    height:4000px;
  }


  .tit2{
    font-size:50px;
    color: rgba(16, 15, 15, 0.7);
    text-align:center;
    margin-top:150px;
    font-weight:bold;
    margin-left:80px;
     }


.tit2:hover{
  text-decoration:underline blue 10px;
  cursor: pointer;
  }
  




.container{
    width:85%;
    margin:auto;
    height:430px;
    margin-top:-2%;
     overflow:auto
       }

  
  .parent{
    overflow:auto;
  }

  
  .div1{
   background-color: rgba(250, 250, 250, 1);
width:30%; 

height:90%;   
/* عشان يخلي المربع عريض  */

float:left;
/* عشان يحركهم مرة واحدة للشمال */
margin-left:35px;
/* عشان يسب مسافة بينهم */
margin-top:20px;
/* عشان يطلعهم لفوق */
border-radius:20px;
position: relative;
  }

.div1::after{
  width: 0;
  height:0;  
  /* بداية النزول  */
  content: "";
  opacity: 0;
  position:absolute;
  z-index: 8;
  bottom:0;
  left:0;
  background-color:rgba(212, 48, 48, 0.7);
}

.div1:hover::after{
  width:100%;
  height:100%;
  opacity:0.7 ;
  transition:2s;
}

.div1::before{
  width: 0%;
  content: "";
  height:0%;  
  /* بداية النزول  */
  
 
  position:absolute;
  top:0;
  right:0;
  background-color:rgba(225, 103, 211, 0.7);
  opacity: 0;
}

.div1:hover::before{
  width:100%;
  height:100%;
  opacity:0.7 ;
  transition:2s;
}

  




.imss{
    width:95%;
    height:78%;
     margin:auto;
    margin-top:5px;
}

  .imss1{
    width:100%;
    height:100%;
    border-radius:10px;
  }


  .butt{
    margin-left:50px;
  }

  .butt1{
    font-weight:bold;
  }